@import "modern-normalize/modern-normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");

:root {
  --primary-color: #ebd8ff;
  --secondary-text-color: #373737;
  --accent-color: #5cd3a8;
  --white: #fff;

  --primary-spacing: 16px;

  --fs-18: 18px;
  --fs-20: 20px;
  --fw-medium: 500;
  --fw-semi-bold: 600;

  --transition: all 250ms linear;

  --primary--bg-gradient: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );

  --primary-box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);

  --section-padding: 50px 0;
}

body {
  margin: 0;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
