.section {
  padding: var(--section-padding);
}

.title {
  margin-bottom: var(--primary-spacing);

  text-align: center;
}

.link {
  display: block;

  margin: 0 auto;

  max-width: 600px;

  transition: var(--transition);
}

.link:hover,
.link:focus {
  scale: 1.05;
}
